<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="onLogout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-title size="small">
          <ion-card-title>
            <h2 class="ion-text-capitalize">
              Profile <ion-badge color="warning">{{ user?.role }}</ion-badge>
            </h2>
          </ion-card-title>
        </ion-title>

        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding">
        <p>
          <ion-badge color="primary">{{ user?.name }}</ion-badge>
        </p>
        <p>
          <ion-badge color="primary">{{ user?.email }}</ion-badge>
        </p>
        <p>
          <ion-badge color="primary">{{ user?.company }}</ion-badge>
        </p>
        <p>
          <ion-badge color="primary">{{ user?.dob }}</ion-badge>
        </p>
        <p>
          <ion-badge color="tertiary">{{ user?.status }}</ion-badge>
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
