<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/profile">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-template #createcontent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Blog Post</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="blogForm" (ngSubmit)="onCreateBlog()">
      <div class="modal-body">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
        </div>

        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="content" formControlName="content" placeholder="Content"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </ng-template>

  <ng-template #editcontent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Blog Post</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="blogForm" (ngSubmit)="onUpdateBlog()">
      <div class="modal-body">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
        </div>

        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="content" formControlName="content" placeholder="Content"></textarea>
        </div>
        
        <input type="hidden" formControlName="id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openCreateBlogForm(createcontent)">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let blog of blogs">
    <ion-card-header>
      <ion-toolbar color="light">
        
        <ion-title>
          {{ blog.title }}
        </ion-title>
    
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="openEditBlogForm(editcontent, blog.id)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="onDeleteBlog(blog.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding">
        <ion-badge color="primary">Content</ion-badge>
        <p>
          {{ blog.content }}
        </p>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
